@font-face {
    font-family: CursorGothic;
    src: url('./fonts/CursorGothic-Regular.woff2') format('woff2');
    font-display: swap;
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: CursorGothic;
    src: url('./fonts/CursorGothic-Italic.woff2') format('woff2');
    font-display: swap;
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: CursorGothic;
    src: url('./fonts/CursorGothic-Bold.woff2') format('woff2');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: CursorGothic;
    src: url('./fonts/CursorGothic-BoldItalic.woff2') format('woff2');
    font-display: swap;
    font-weight: 700;
    font-style: italic;
}


:root{
    --primary-font-color: #EDECEC;
    --background-color: #13120A;
    --secondary-background-color: #1B1912;
    --secondary-font-color: #988E94;
    --primary-cta-color: #F54E00;
    --hover-cta-color: #b74510;
    --recent-highlight-background-color: #1B1914;
    --recent-highlight-secondary-background-color: #201E19;
    --toggle-mode-background-color: #26241F;
    --toggle-selected-background-color: #3A3834;
}

body{
    background-color: var(--background-color);
    color: var(--primary-font-color);
    font-family: CursorGothic;
    font-style: normal;
    font-weight: 50;
    margin-left: 300px;
    margin-right: 300px;
}

nav{
    display: flex;
    justify-content: space-between;
}

.nav-headings{
    display: flex;
    gap: 30px;
}

.nav-headings a{
    text-decoration: none;
    color: var(--primary-font-color);
    padding-top: 0.5rem;
    font-size: 15px;
}

.contact{
    display: flex;
    gap: 10px;
    align-items: center;
}

.contact a{
    text-decoration: none;
    color: var(--primary-font-color);
    font-size: 15px;
}

.contact button{
    border-radius: 25px;
    padding: 5px 10px;
    font-size: 15px;
}

#sign-in{
    background-color: var(--background-color);
    border: 0.5px solid gray;
    color: var(--primary-font-color);
}

.hero-text{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.hero-text p{
    font-size: 22px;
    margin-top: 110px;
}

#download{
    padding: 12px 28px 12px;
    border-radius: 30px;
    font-size: 18px;
    margin-bottom: 50px;
}

.icon-glyph-08{
    font-size: 20px;
}

#trusted-text{
    text-align: center;
    font-size: 15px;
    margin-top: 60px;
    margin-bottom: 20px;
}

/* .trusted-logos{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2px;
    margin-bottom: 50px;
}

.trusted-logos li img{
    padding: 25px 30px;
    background-color: #1B1912;
    border-radius: 5px;
} */

.trusted-logos{
    list-style: none;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(8, 1fr);
    margin-left: -40px;
}

.trusted-logos li{
    width: 100%;
    height: 110px;
    font-size: 50px;
    background-color: var(--secondary-background-color);
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.trusted-logos img{
    max-width: 80px;
}

.setup-1{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: var(--secondary-background-color);
    border-radius: 5px;
}

.setup-1:hover{
    cursor: pointer;
}
.setup-1 img{
    cursor: default;
}

#setup-main-text-1{
    font-size: 20px;
    color: var(--primary-font-color);
}

.setup-1-text p{
    color: var(--secondary-font-color);
    font-size: 21px;
    padding-left: 10px;
}

.setup-2{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: var(--secondary-background-color);
    border-radius: 5px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.setup-2:hover{
    cursor: pointer;
}

#setup-main-text-2{
    font-size: 20px;
    color: var(--primary-font-color);
    padding-right: 50px;
}

.setup-2-text p{
    color: var(--secondary-font-color);
    font-size: 21px;
    padding-left: 10px;
}

.setup-2 img{
    cursor: default;
}

.setup-3{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: var(--secondary-background-color);
    border-radius: 5px;
}

.setup-3:hover{
    cursor: pointer;
}

#setup-main-text-3{
    font-size: 20px;
    color: var(--primary-font-color);
    padding-left: 10px;
}

.setup-3-text p{
    color: var(--secondary-font-color);
    font-size: 21px;
    padding-left: 10px;
}

.setup-3 img{
    cursor: default;
}

#setup-main-CTA{
    color: var(--primary-cta-color);
    font-size: 15px;
    padding-left: 10px;
}

#setup-main-CTA:hover{
    cursor: pointer;
    color: var(--hover-cta-color);
}

.setup-images{
    border-radius: 5px;
}

.feedback-heading{
    text-align: center;
    font-size: 35px;
    margin-top: 100px;
    margin-bottom: 50px;
}

.ceo-message{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* border: 1px solid red; */
    gap: 10px;
}

.box1{
    /* border: 1px solid red; */
    background-color: var(--secondary-background-color);
    border-radius: 5px;
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box2{
    /* border: 1px solid red; */
    background-color: var(--secondary-background-color);
    border-radius: 5px;
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box3{
    /* border: 1px solid red; */
    background-color: var(--secondary-background-color);
    border-radius: 5px;
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box4{
    /* border: 1px solid red; */
    background-color: var(--secondary-background-color);
    border-radius: 5px;
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box5{
    /* border: 1px solid red; */
    background-color: var(--secondary-background-color);
    border-radius: 5px;
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box6{
    /* border: 1px solid red; */
    background-color: var(--secondary-background-color);
    border-radius: 5px;
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* For Diana */
.diana-img{
    display: flex;
    gap: 10px;
    align-items: center;
    padding-left: 18px;
}

.Diana p{
    padding-left: 18px;
    color: var(--primary-font-color);
}

.diana-img img{
    border-radius: 5%;
}

.diana-img p{
    font-size: 15px;
}

#diana-font{
    font-size: 14px;
    color: var(--secondary-font-color);
    margin-top: -15px;
}

/* For Jensen */

.jensen-img{
    display: flex;
    gap: 10px;
    align-items: center;
    padding-left: 18px;
}

.Jensen p{
    padding-left: 18px;
    color: var(--primary-font-color);
}

.jensen-img img{
    border-radius: 5%;
}

.jensen-img p{
    font-size: 15px;
}

#jensen-font{
    font-size: 14px;
    color: var(--secondary-font-color);
    margin-top: -15px;
}

/* For Andrej */

.andrej-img{
    display: flex;
    gap: 10px;
    align-items: center;
    padding-left: 18px;
}

.Andrej p{
    padding-left: 18px;
    color: var(--primary-font-color);
}

.andrej-img img{
    border-radius: 5%;
}

.andrej-img p{
    font-size: 15px;
}

#andrej-font{
    font-size: 14px;
    color: var(--secondary-font-color);
    margin-top: -15px;
}

/* Patrick */

.patrick-img{
    display: flex;
    gap: 10px;
    align-items: center;
    padding-left: 18px;
}

.Patrick p{
    padding-left: 18px;
    color: var(--primary-font-color);
}

.patrick-img img{
    border-radius: 5%;
}

.patrick-img p{
    font-size: 15px;
}

#patrick-font{
    font-size: 14px;
    color: var(--secondary-font-color);
    margin-top: -15px;
}

/* Shadcn */

.shadcn-img{
    display: flex;
    gap: 10px;
    align-items: center;
    padding-left: 18px;
}

.shadcn p{
    padding-left: 18px;
    color: var(--primary-font-color);
}

.shadcn-img img{
    border-radius: 5%;
}

.shadcn-img p{
    font-size: 15px;
}

#shadcn-font{
    font-size: 14px;
    color: var(--secondary-font-color);
    margin-top: -15px;
}


/* Greg */

.greg-img{
    display: flex;
    gap: 10px;
    align-items: center;
    padding-left: 18px;
}

.greg p{
    padding-left: 18px;
    color: var(--primary-font-color);
}

.greg-img img{
    border-radius: 5%;
}

.greg-img p{
    font-size: 15px;
}

#greg-font{
    font-size: 14px;
    color: var(--secondary-font-color);
    margin-top: -15px;
}


#frontier-text{
    font-size: 25px;
    margin-top: 210px;
}

.frontier-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    /* border: 1px solid red; */
}

.card1-text{
    padding-left: 18px;
    padding-bottom: 18px;
    background-color: var(--secondary-background-color);
    border-radius: 5px;
}

#card1-para{
    font-size: 15px;
    margin-top: -10px;
    color: var(--secondary-font-color);
}

.card2-text{
    padding-left: 18px;
    background-color: var(--secondary-background-color);
    border-radius: 5px;
}

#card2-para{
    font-size: 15px;
    margin-top: -10px;
    color: var(--secondary-font-color);
}

.card3-text{
    padding-left: 18px;
    background-color: var(--secondary-background-color);
    border-radius: 5px;
}

#card3-para{
    font-size: 15px;
    margin-top: -10px;
    color: var(--secondary-font-color);
}

#card-cta{
    color: var(--primary-cta-color);
}

#card-cta:hover{
    cursor: pointer;
    color: var(--hover-cta-color);
}

#changelog-text{
    font-size: 25px;
    margin-top: 200px;
}

.changelog-card{
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.changelog-card1{
    /* border: 1px solid red; */
    padding-left: 18px;
    background-color: var(--secondary-background-color);
    border-radius: 5px;
}

.changelog-date p{
    font-size: 16px;
    color: var(--secondary-font-color);
}

.changelog-date{
    display: flex;
    gap: 10px;
}

#version{
    border:1px solid var(--secondary-font-color);
    padding: 2px 10px;
    border-radius: 25px;
    font-size: 14px;
}

#changelog-cta{
    color: var(--primary-cta-color);
    margin-top: 20px;
}

#changelog-cta:hover{
    cursor: pointer;
    color: var(--hover-cta-color);
}

#join-us-CTA{
    color: var(--primary-cta-color);
    font-size: 16px;
    padding-left: 10px;
}

#join-us-CTA:hover{
    cursor: pointer;
    color: var(--hover-cta-color);
}

#join-us{
    margin-top: 150px;
    margin-bottom: 280px;
}

#highlights{
    background-color: var(--recent-highlight-background-color);
    margin-left: -300px;
    margin-right: -300px;
}

.main-highlight{
    margin-left: 300px;
    margin-right: 630px;
    display: grid;
    grid-template-columns: 330px 1fr;
    gap: 10px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.highlight-cards{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card{
    background-color: var(--recent-highlight-secondary-background-color);
    border-radius: 5px;
    padding-left: 18px;
}

#highlight-heading{
    font-size: 18px;
    color: var(--primary-font-color);
    margin-left: -15px;
}

#card-heading{
    font-size: 18px;
    color: var(--primary-font-color);
}

.card-test p{
    font-size: 18px;
    color: var(--secondary-font-color);
}

.card-date p{
    font-size: 18px;
    color: var(--secondary-font-color);
    padding-top: 15px;
}

#highlights-cta{
    color: var(--primary-cta-color);
    margin-top: 20px;
    font-size: 17px;
}

#highlights-cta:hover{
    cursor: pointer;
    color: var(--hover-cta-color);
}

.end-CTA{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 75px;
}

#main-CTA-text{
    color: var(--primary-font-color);
    font-size: 75px;
    margin: 15px;
}

footer{
    background-color: var(--secondary-background-color);
    margin-left: -300px;
    margin-right: -300px;
    padding: 80px 0px 30px 0px;
}

.main-footer{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-bottom: 0px;
    margin-left: 300px;
    margin-right: 300px;
}

.footer-list{
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.footer-list a{
    text-decoration: none;
    color: var(--primary-font-color);
    font-size: 15px;
}

.footer-list p{
    color: var(--secondary-font-color);
    margin-bottom: 6px;
}

.end-footer{
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    align-items: center;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 0px;
    color: var(--secondary-font-color);
}

.end-footer-left{
    display: flex;
    gap: 10px;
    align-items: center;
}

.end-footer-right{
    display: flex;
    gap: 10px;
    align-items: center;
}

.toggle-mode{
    display: flex;
    justify-content: space-between;
    gap: 4px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 25px;
    background-color: var(--toggle-mode-background-color);
}

.toggle-mode span{
    /* border: 1px solid red; */
    padding: 6px 10px;
}

.toggle-language{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
    background-color: var(--toggle-mode-background-color);
    padding: 7px 15px;
    border-radius: 25px;
    color: var(--primary-font-color);
    font-size: 15px;
}

#toggle-selected{
    background-color: var(--toggle-selected-background-color);
    border-radius: 25px;
    color: var(--primary-font-color);
}